mixin map(options = {invite: "Meet us!", localAdress: "1259 california st", globalAdress: "san francisco, ca", latitude: 37.791079, longitude: -122.415078, markerIcon: "images/icon-map-popup.png"})
    -let {invite = "Meet us!", localAdress = "1259 california st", globalAdress = "san francisco, ca", latitude = 37.791079, longitude = -122.415078, markerIcon = "images/icon-map-popup.png"} = options;
    .map.js-map(data-latitude= latitude, data-longitude= longitude, data-icon= markerIcon, data-title= `${localAdress}, ${globalAdress}`)
        .map__frame.js-map__frame
        .map__legend
            .map__invite= invite
            .map__adress= localAdress 
                br/= globalAdress
            .map__icons
                .map__icon
                    img.icon-image(src=require('../../blocks/map/images/icon-point.png'), alt="you are here")
                .map__icon
                    img.icon-image(src=require('../../blocks/map/images/icon-target.png'), alt="you are here")