mixin stage(option = {markedStage:3, maxStage:5, colorOfMarkedStage:"#E75735", colorOfInactiveStage:"#E5E5E5", textColor:"#FFFFFF", inactiveTextColor:"#888888"})
    -let {markedStage=3, maxStage=5, colorOfMarkedStage="#E75735", colorOfInactiveStage="#E5E5E5", textColor="#FFFFFF", inactiveTextColor="#888888"} = option;
    svg.stage
        -let yCoordinateOfLine = 14, yCoordinateOfText = yCoordinateOfLine + 5;
        -let lengthOfStage = 95.2861 / (maxStage - 1);
        -let markedLineLength = lengthOfStage * (markedStage - 1);

        line.stage__line(stroke= colorOfInactiveStage, x1="1.3468%", y1=yCoordinateOfLine, x2="98.653%", y2=yCoordinateOfLine)
        line.stage__line(stroke= colorOfMarkedStage, x1="1.3468%", y1=yCoordinateOfLine, x2=`${markedLineLength+1.5169}%`, y2=yCoordinateOfLine)
        
        -for (let i = 0; i < maxStage; i += 1) {
            -if (i < markedStage) {
                circle.stage__circle(fill= colorOfMarkedStage, r="3.35%", cx=`${lengthOfStage*i+2.3569}%`, cy=yCoordinateOfLine)
                text.stage__text(fill= textColor, x=`${lengthOfStage*i+1.5169}%`, y=yCoordinateOfText)= (i+1)
            -} else {
                circle.stage__circle(fill= colorOfInactiveStage, r="3.35%", cx=`${lengthOfStage*i+2.3569}%`, cy=yCoordinateOfLine)
                text.stage__text(fill= inactiveTextColor, x=`${lengthOfStage*i+1.5169}%`, y=yCoordinateOfText)= (i+1)
            -}
        -}