div(class="stages")
    +header-of-block("STAGES")
    svg(class="stage stages__graphics")
        - var cor_y = 14, cor_t_y = cor_y + 5;
        line(class="stage__line", x1="1.3468%", y1=cor_y, x2="98.653%", y2=cor_y)
        line(class="stage__line stage__line_color_red", x1="1.3468%", y1=cor_y, x2="50%", y2=cor_y)
        circle(class="stage__circle_color_red", r="3.35%", cx="2.3569%", cy=cor_y)
        text(class="stage__text stage__text_color_white", x="1.5151%", y=cor_t_y) 1
        circle(class="stage__circle_color_red", r="3.35%", cx="25%", cy=cor_y)
        text(class="stage__text stage__text_color_white", x="24.16%", y=cor_t_y) 2
        circle(class="stage__circle_color_red", r="3.35%", cx="50%", cy=cor_y)
        text(class="stage__text stage__text_color_white", x="49.16%", y=cor_t_y) 3
        circle(class="stage__circle_color_grey", r="3.35%", cx="75%", cy=cor_y)
        text(class="stage__text stage__text_color_darkgrey", x="74.16%", y=cor_t_y) 4
        circle(class="stage__circle_color_grey", r="3.35%", cx="97.643%", cy=cor_y)
        text(class="stage__text stage__text_color_darkgrey", x="96.8%", y=cor_t_y) 5